@{
    ViewBag.Title = "TV";
    ViewBag.Mode = "Tv";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("tv"))
}

@await Html.PartialAsync("PaneButtons")
<div id="tvChannelsPane">
    <div id="tvChannels" class="tvChannels">
        @await Html.PartialAsync("ChannelsPane")
    </div>
</div>
