<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<span id="goTvWatch">@Html.Raw(Button.Rect("Live"))</span></td>
  	    <td class="centeredButton">	<span id="goTvTv">@Html.Raw(Button.Rect("TV"))</span></td>
        <td class="centeredButton">	<span id="goTvRadio">@Html.Raw(Button.Rect("Radio"))</span></td>
    </tr>
</table>

