@{
    ViewBag.Title = "TV";
    ViewBag.Mode = "Radio";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("tv"))
}

@await Html.PartialAsync("PaneButtons")
<div class="tvChannels">
    @await Html.PartialAsync("RadioPane")
</div>