@{
    ViewBag.Title = "TV";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("tv"))
}

@await Html.PartialAsync("PaneButtons")
<div class="tvControlPane" id="tvControlPane">
    @await Html.PartialAsync("ControlPane")
</div>

