@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("home"))
    @Html.Raw(Render.Script("streaming"))
}

<div id="rokuBrowserPane" class="rokuBrowserPane @(ViewBag.HideRokuClass ?? "")">
    <div class="rokuBrowserItems" id="rokuBrowserItems">
        @await Html.PartialAsync("BrowserPane")
    </div>
</div>
