<table class="buttonRow">
    <tr>
        <td class="centeredButton width75">&nbsp;</td>
        <td class="centeredButton width25">	<span id="goStreamSourceSelect">@Html.Raw(Button.Rect("Source"))</span></td>
    </tr>
</table>