<table class="buttonRow">
    <tr>
        <td class="centeredButton width50">	<span id="goStreamControlsSelect">@Html.Raw(Button.Rect("Controls"))</span></td>
        <td class="centeredButton width50">	<span id="goStreamSourceSelect">@Html.Raw(Button.Rect("Source"))</span></td>
    </tr>
</table>