@if (Running.RunningProgram == "Roku")
{
    <table class="buttonRow">
        <tr>
            <td class='width75'><input id='rokuText' type='text' class='rokuText width100' value='' /></td>
            <td class="centeredButton width25">
                <span id="goRokuText">@Html.Raw(Button.MiniRound("[[Keyboard_Return]]"))</span>
            </td>
        </tr>
    </table>
}
