@if (Running.RunningProgram == "SmartTv")
{
    <p>Control the TV with its own remote control - start with the "Home" button</p>
    <p></p>
    <p>Remember to reset the TV input to "HDMI2" before returning to Avid</p>
}