<div id="topBarTitle" style="display:none">@ViewBag.Title</div>
@section scripts {
    @Html.Raw(Render.Script("security"))
    <script>CheckUsingDefaultProfileWhenFocussed(window)</script>
}

<table class="buttonRow">
    <tr>
        <td class="centeredButton">	<span id="securityAwayToday">@Html.Raw(Button.Rect("AwayToday"))</span></td>
        <td class="centeredButton">	<span id="securityAwayTrip">@Html.Raw(Button.Rect("AwayTrip"))</span></td>
    </tr>
</table>

@await Html.PartialAsync("SchedulePane")


