<table class="buttonRow">
    <tr>
        <td class="centeredButton">	<span id="goSecurityProfiles">@Html.Raw(Button.LongRect("Profiles"))</span></td>
        <td class="centeredButton">	<span id="goSecurityZones">@Html.Raw(Button.LongRect("Zones"))</span></td>
        <td class="centeredButton">	<span id="goSecuritySchedule">@Html.Raw(Button.LongRect("Schedule"))</span></td>
    </tr>
</table>


