<div class="musicBrowserSearchEntry">
    @{

        string searchText = "";
        string searchQuery = ViewBag.Query;

        if (!String.IsNullOrEmpty(searchQuery))
        {
            searchText = System.Web.HttpUtility.UrlDecode(searchQuery);
        }

        <div class="musicBrowserItem musicBrowserPlaylistHeader"><div class="musicBrowserTitle">Search tracks ...</div></div>
        <div class="centered">
	        <input id='SearchText' type='text' class='searchText width90' value='@(searchText)' />
        </div>
    }
</div>