<div class="musicBrowserSearchEntry">
    @{

        string searchText = "";
        string searchQuery = ViewBag.Query;

        if (!String.IsNullOrEmpty(searchQuery))
        {
            searchText = System.Web.HttpUtility.UrlDecode(searchQuery);
        }

        <table class="buttonRow">
	        <tr>
                <td class='width75'><input id='SearchText' type='text' class='searchText width100' value='@(searchText)' /></td>
                <td class="centeredButton width25">
                    <span id="goMusicSearch">@Html.Raw(Button.MiniRound("Search"))</span>
                </td>
            </tr>
        </table>
    }
</div>