<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<span id="goMusicPlaying">@Html.Raw(Button.Rect("PlayTab"))</span></td>
	    <td class="centeredButton">	<span id="goMusicQueue">@Html.Raw(Button.Rect("ListTab"))</span></td>
	    <td class="centeredButton">	<span id="goMusicLibrary">@Html.Raw(Button.Rect("LibraryTab"))</span></td>
    </tr>
</table>

