<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<span id="goMusicPlaying">@Html.Raw(Button.Rect("Playing"))</span></td>
	    <td class="centeredButton">	<span id="goMusicQueue">@Html.Raw(Button.Rect("Queue"))</span></td>
	    <td class="centeredButton">	<span id="goMusicLibrary">@Html.Raw(Button.Rect("Library"))</span></td>
    </tr>
</table>

