@{
	ViewBag.Title = "Music";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("music"))
}

<script type="text/javascript">var JrmcUrl = '@JRMC.Url'; var JrmcHost = '@JRMC.Host';</script>
@await Html.PartialAsync("PaneButtons")
<div class="musicPlayback">
    @await Html.PartialAsync("PlayingPane")
</div>
