@{
	ViewBag.Title = "Music";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("music"))
}

@await Html.PartialAsync("PaneButtons")
<div class="musicPlaybackQueueItems" id="musicPlaybackQueueItems">
    @await Html.PartialAsync("QueuePane")
</div>