@{
    ViewBag.Title = "";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("home"))
}

<table class="buttonGrid">
    <tr>
        <td class="centeredButton"><img id="selectTV" src="~/Content/Buttons/Select.TV.Button.png"></td>
        <td class="centeredButton"><img id="selectStream" src="~/Content/Buttons/Stream.png"></td>
        <td class="centeredButton"><img id="selectVideo" src="~/Content/Buttons/Select.Video.Button.png"></td>
    </tr>
    <tr>
        <td class="centeredButton"><img id="selectRadio" src="~/Content/Buttons/Select.Radio.Button.png"></td>
        <td class="centeredButton"><img id="selectSpotify" src="~/Content/Buttons/Select.Spotify.Button.png"></td>
        <td class="centeredButton"><img id="selectMusic" src="~/Content/Buttons/Select.Music.Button.png"></td>
    </tr>
    <tr>
        <td class="centeredButton"><img id="selectEpg" src="~/Content/Buttons/Select.Guide.Button.png"></td>
        <td class="centeredButton"><img id="selectSecurity" src="~/Content/Buttons/Security.png"></td>
        <td class="centeredButton"><img id="selectPhotos" src="~/Content/Buttons/Select.Photos.Button.png"></td>
    </tr>
    @if (!Screen.IsOn || !(Receiver.SelectedInput == "Computer"))
    {
        <tr>
        <td class="centeredButton"></td>
        <td class="centeredButton"><img id="selectPC" src="/Content/Buttons/PC.png" /></td>
        <td class="centeredButton"></td>
        </tr>
    }
</table>

 @if (Screen.IsOn && Receiver.SelectedInput == "Computer")
{
    <p/>
    <p/>
    <p/>
    <p/>
    <table align="center" class='width100'>
        <tr>
            <td valign="top" class="width16">&nbsp;</td>
            <td valign="top" class="width60">
                <div id="arrows">
                    <table class='width100'>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="centeredButton"><img class="playerActionButton" id="Up" src="/Content/Buttons/BigRound/Nav.Up.png"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="centeredButton"><img class="playerActionButton" id="Left" src="/Content/Buttons/BigRound/Nav.Left.png"></td>
                            <td class="centeredButton"><img class="playerActionButton" id="Enter" src="/Content/Buttons/BigRound/OK.png"></td>
                            <td class="centeredButton"><img class="playerActionButton" id="Right" src="/Content/Buttons/BigRound/Nav.Right.png"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="centeredButton"><img class="playerActionButton" id="Down" src="/Content/Buttons/BigRound/Nav.Down.png"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="centeredButton"><img class="playerActionButton" id="Backspace" src="/Content/Buttons/BigRound/Back.png"></td>
                        </tr>
                    </table>
                </div>
            </td>

            <td valign="top" class="width16">&nbsp;</td>

        </tr>
    </table>

}

