@{
	ViewBag.Title = "Spotify";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("spotify"))
}

@await Html.PartialAsync("PaneButtons")
@await Html.PartialAsync("BrowserSearchPane")

<div class="spotifyBrowserItems" id="spotifyBrowserItems">
    @await Html.PartialAsync("BrowserPane")
</div>