<div class="spotifyBrowserSearchEntry">
    @{

        string searchText = "";
        string searchQuery = ViewBag.Query;

        if (!String.IsNullOrEmpty(searchQuery))
        {
            searchText = System.Web.HttpUtility.UrlDecode(searchQuery);
        }

        <div class="spotifyBrowserSearchArtistsEntry">
            <div class="spotifyBrowserItem spotifyBrowserPlaylistHeader"><div class="spotifyBrowserTitle">Search artists ...</div></div>
            <div class="centered">
                <input id='ArtistSearchText' type='text' class='searchText width90' value='@(searchText)' />
            </div>
        </div>

        <div class="spotifyBrowserSearchAlbumsEntry">
            <div class="spotifyBrowserItem spotifyBrowserPlaylistHeader"><div class="spotifyBrowserTitle">Search albums ...</div></div>
            <div class="centered">
                <input id='AlbumSearchText' type='text' class='searchText width90' value='@(searchText)' />
            </div>
        </div>

        <div class="spotifyBrowserSearchTracksEntry">
            <div class="spotifyBrowserItem spotifyBrowserPlaylistHeader"><div class="spotifyBrowserTitle">Search tracks ...</div></div>
            <div class="centered">
                <input id='TrackSearchText' type='text' class='searchText width90' value='@(searchText)' />
            </div>
        </div>
    }
</div>
