@{
    ViewBag.Title = Running.RunningProgram;
}


@if (IpAddress.IsLanIP(Context))
{
    @await Html.PartialAsync("TopBarWide");
}
else
{
    <div id="topBarTitle" style="display:none">@ViewBag.Title</div>
}

@section scripts {
    @if (IpAddress.IsLanIP(Context))
    {
        @Html.Raw(Render.Script("topBar"))
        @Html.Raw(Render.Script("homeWide"))
    }
    @Html.Raw(Render.Script("guide2"))
}

<div id="guidePanes">
    <div id="guideLeftPane">
        @await Html.PartialAsync("PaneButtons")
        <div id="guideSelectorPane" class="guideSelectorPane">
            <div class="guideSelectorItems" id="guideSelectorItems">
                @await Html.PartialAsync("SelectorPane")
            </div>
        </div>
    </div>

    <div id="guideRightPane">
        <div id="guideListingsPane">
            <div class="guideBrowserItems" id="guideBrowserItems">
                @await Html.PartialAsync("ListingsPane")
            </div>
        </div>
    </div>
</div>
