@{
    ViewBag.Title = Running.RunningProgram;
}

@*
    Do not display the topbar for external (internet) requests, but do allow control of the EPG and recording
*@
@if (IpAddress.IsLanIP(Context))
{
    @await Html.PartialAsync("TopBar");
}
else
{
    <div id="topBarTitle" style="display:none">@ViewBag.Title</div>
}

@section scripts {
    @if (IpAddress.IsLanIP(Context))
    {
        @Html.Raw(Render.Script("topBar"))
    }
    @Html.Raw(Render.Script("guide2"))
}

@await Html.PartialAsync("PaneButtons")
<div id="guidePanes">
    <div id="guideOverlayPane">
        <div id="guideSelectorPane">
            <div class="guideSelectorItems guideOverlaySelectors" id="guideSelectorItems">
                @await Html.PartialAsync("SelectorPane")
            </div>
        </div>
    </div>

    <div id="guideOverlayPane">
        <div id="guideListingsPane">
            <div class="guideBrowserItems guideOverlayListings" id="guideBrowserItems">
                @await Html.PartialAsync("ListingsPane")
            </div>
        </div>
    </div>
</div>
