<div class="guideItem guideHeader"><div class="guideTitle">Schedule TV and Radio Recordings</div></div>
<table class="buttonRow">
	<tr>
		<td class="centeredButton">	<span id="guideTvEpg">@Html.Raw(Button.ShortRect("TV"))</span></td>
		<td class="centeredButton">	<span id="guideRadioEpg">@Html.Raw(Button.ShortRect("Radio"))</span></td>
		<td class="centeredButton">	<span id="guideSchedule">@Html.Raw(Button.ShortRect("Timers"))</span></td>
		<td class="centeredButton">	<span id="guideSeries">@Html.Raw(Button.ShortRect("Series"))</span></td>
    </tr>
</table>

