<div class="guideItem guideHeader"><div class="guideTitle">Schedule TV and Radio Recordings</div></div>
<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<span id="guideTvEpg">@Html.Raw(Button.Rect("TV"))</span></td>
	    <td class="centeredButton">	<span id="guideRadioEpg">@Html.Raw(Button.Rect("Radio"))</span></td>
        <td class="centeredButton">	<span id="guideSchedule">@Html.Raw(Button.Rect("Timers"))</span></td>
	    <td class="centeredButton">	<span id="guideSeries">@Html.Raw(Button.Rect("Series"))</span></td>
    </tr>
</table>

