@{
    if (!string.IsNullOrEmpty(Config.DvdPath) && Directory.Exists(Config.DvdPath))
    {
        foreach (var dir in System.IO.Directory.GetDirectories(Config.DvdPath, "*.*").OrderBy(s => s))
        {
            string leaf = System.IO.Path.GetFileName(dir);

            <div class="videoDvdDirectory videoItem" id="@dir">
                <div class="videoRecordingName">@Html.Raw(Button.DoubleTap())<span class="videoRecordingTitle">@leaf</span></div>
            </div>
        }
    }
}
