<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<span id="goVideoWatch">@Html.Raw(Button.Rect("Watch"))</span></td>
	    <td class="centeredButton">	<span id="goVideoRecordings">@Html.Raw(Button.Rect("TV"))</span></td>
        @if (Config.VideoPath != null) {
            <td class="centeredButton">	<span id="goVideoVideos">@Html.Raw(Button.Rect("Video"))</span></td>
        }
        @if (Config.DvdPath != null) {
            <td class="centeredButton">	<span id="goVideoDVDs">@Html.Raw(Button.Rect("DVD"))</span></td>
        }
    </tr>
</table>

