@{
    if (!string.IsNullOrEmpty(Config.VideoPath) && Directory.Exists(Config.VideoPath))
    {
        var videoFiles = System.IO.Directory.GetFiles(Config.VideoPath, "*.*");
        if (videoFiles.Length != 0)
        {
            foreach (var file in videoFiles.OrderBy(s => s))
            {
                if (System.IO.File.GetAttributes(file).HasFlag(System.IO.FileAttributes.Hidden))
                {
                    continue;
                }
                string title = System.IO.Path.GetFileNameWithoutExtension(file);
                {
                    <div class="videoVideo videoItem" id="@file">
                        <div class="videoRecordingName">@Html.Raw(Button.DoubleTap())<span class="videoRecordingTitle">@title</span></div>
                    </div>
                }
            }
        }
    }
}
