@{
    ViewBag.Title = "Video";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("video"))
}

@await Html.PartialAsync("PaneButtons")
<div class="videoVideos" id="videoVideos">
    @await Html.PartialAsync("VideosPane")
</div>
