@{
    ViewBag.Title = "Photo";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("photos"))
}

@await Html.PartialAsync("PaneButtons")
<div class="photosBrowserItems" id="photosBrowserItems">
    @await Html.PartialAsync("BrowserPane")
</div>
