@{
    ViewBag.Title = "Photo";
}

@await Html.PartialAsync("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar"))
    @Html.Raw(Render.Script("photos"))
}

@await Html.PartialAsync("PaneButtons")
<div class="photosImagesGrid" id="photosImagesGrid">
    @await Html.PartialAsync("ImagesPane")
</div>
