<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<span id="goPhotosDisplay">@Html.Raw(Button.Rect("View"))</span></td>
	    <td class="centeredButton">	<span id="goPhotosImages">@Html.Raw(Button.Rect("Grid"))</span></td>
	    <td class="centeredButton">	<span id="goPhotosSelect">@Html.Raw(Button.Rect("Select"))</span></td>
    </tr>
</table>

